<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<!-- CONFIGURACIÓN (MySQL) -->
		<property name="connection.driver_class">org.mariadb.jdbc.Driver</property>		
		<property name="connection.url">jdbc:mariadb://localhost:3336/blog?createDatabaseIfNotExist=true</property>
		<property name="hibernate.hbm2ddl.auto">create</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MariaDBDialect</property>
		<property name="hibernate.show_sql">false</property>

		<!-- MAPEOS -->
		<mapping class="org.iesalixar.servidor.hibernate.model.User" />
		<mapping class="org.iesalixar.servidor.hibernate.model.Post" />
		<mapping class="org.iesalixar.servidor.hibernate.model.Comment" />
		<mapping class="org.iesalixar.servidor.hibernate.model.Valuation" />
		
		
		
	</session-factory>
</hibernate-configuration>